.request-section {
    padding: 20px;
}

input,
select,
textarea {
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 80px;
    resize: vertical;

}

.request-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.request-filter-dropdown {
    padding: 8px;
    width: 300px;
    font-size: 16px;
}

.search-wrapper {
    flex: 1;
}