.task-board {
    height: 100%;
    min-height: 650px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.task-column {
    flex: 1;
    padding: 1rem;
    min-height: 00px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.task-column.todo {
    background-color: #fff3e0;
}

.task-column.inprogress {
    background-color: #fffde7;
}

.task-column.done {
    background-color: #e8f5e9;
}


.task-card {
    background: white;
    margin-top: 10px;
    padding: 16px 20px;
    border-radius: 8px;
    margin-bottom: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    cursor: grab;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-card h4 {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.task-card p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #444;
}

.task-card .task-project-title {
    font-size: 14px;
    font-weight: 500;
    color: #2f567c;
    margin-top: 4px;
}

.task-card small {
    font-size: 13px;
    color: #999;
    /* light gray for date */
    margin-top: 6px;
}

.task-card:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}

.task-column.drag-over {
    filter: brightness(95%);
    transition: filter 0.2s ease;
}

.task-actions {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.create-task-btn {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.create-task-btn:hover {
    background-color: #4cae4c;
}


.canceltask-btn {
    background-color: #f0ad4e;
    color: white;
}

.canceltask-btn:hover {
    background-color: #d18317;
}

.top-bar {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    /* change from column to row */
    justify-content: space-between;
    /* space out title and button */
    align-items: center;
    /* align them vertically */
    padding: 0 20px;
    /* optional: add padding to match the rest of layout */
}

.project-title-sub {
    font-size: 15px;
    font-weight: 500;
    margin-top: 0.3rem;
    color: #2f567c;
}

.summary-cards {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.summary-card {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 1rem 2rem;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary-card.blue {
    background-color: #e0f0ff;
    color: #005a9e;
}

.summary-card.orange {
    background-color: #fff4e5;
    color: #d35400;
}

.summary-card h4 {
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.summary-card p {
    font-size: 24px;
    font-weight: bold;
}



@media (max-width: 768px) {
    .task-column {
        flex: 0 0 85%;
    }
}